@import
  "lulu-settings",
  "lulu-custom";


// Border radii
// -----------------------------------------------------------------------------

.rounded        { border-radius: $border-radius; }
.rounded-top    { border-radius: $border-radius $border-radius 0 0; }
.rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }
.rounded-left   { border-radius: $border-radius 0 0 $border-radius; }
.rounded-right  { border-radius: 0 $border-radius $border-radius 0; }

.circle { border-radius: 50%; }
